@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");

body {
    height: 100% !important;
    font-family: "Poppins", sans-serif !important;
    color: black !important;
    letter-spacing: 0.5px !important;
    background-color: whitesmoke !important;
}

.most-viewed-products {
    font-weight: bold;
}

.banner-img {
    margin-top: 30px;
}
